<h3>Sign up</h3>

<form [formGroup]="checkedForm" (ngSubmit)="onSubmit(checkedForm.value)">
    <div>
        <label for="email">E-mail</label>
        <input id="email" type="email" formControlName="email" required>

        <label for="password">Password</label>
        <input id="password" type="password" formControlName="password" required>

        <label for="password2">Confirm Password</label>
        <input id="password2" type="password" formControlName="password2" required>

        <label for="nickname">Nickname</label>
        <input id="nickname" type="text" formControlName="nickname" required>

        <label for="phone">Phone number</label>
        <input id="phone" type="text" formControlName="phone" required>

        <label for="website">Website</label>
        <input id="website" placeholder="website" type="text" formControlName="website" required>
    </div>

    <label for="terms">I have read the <a href="#">Agreement</a></label>
    <input id="terms" type="checkbox" formControlName="terms" required>

    <button class="button" type="submit" [disabled]="checkedForm.status === 'INVALID'">Register</button>
</form>