<a [routerLink]="['/']">
    <h1>My Store</h1>
</a>

<a [routerLink]="['/sign-up']" class="button, fancy-button">
    Sign up
</a>

<a [routerLink]="['/login']" class="button, fancy-button">
    Login
</a>

<a [routerLink]="['/guard']" class="button, fancy-button">
    Guard
</a>

<a [routerLink]="['/dashboard']" class="button, fancy-button">
    Dashboard
</a>

<a [routerLink]="['/currency']" class="button, fancy-button">
    Currencies
</a>

<a [routerLink]="['/wishlist']" class="button, fancy-button">
    Wishlist
</a>

<a [routerLink]="['/cart']" class="button, fancy-button">
    <i class="material-icons">shopping_cart</i>
    Checkout
</a>

<a [routerLink]="['/exchange']" class="button, fancy-button">
    Exchange
</a>