<a [routerLink]="['/']">
    <h1>My Store</h1>
</a>

<button [routerLink]="['/sign-up']" class="button, fancy-button">
    Sign up
</button>

<button [routerLink]="['/login']" class="button, fancy-button">
    Login
</button>

<button [routerLink]="['/user-list']" *ngIf="isSignedIn()" class="button, fancy-button">
    Users
</button>

<button [routerLink]="['/employees']" class="button, fancy-button">
    Employees
</button>

<button [routerLink]="['/guard']" class="button, fancy-button">
    Guard
</button>

<button [routerLink]="['/dashboard']" class="button, fancy-button">
    Dashboard
</button>

<button [routerLink]="['/currency']" class="button, fancy-button">
    Currencies
</button>

<button [routerLink]="['/wishlist']" class="button, fancy-button">
    Wishlist
</button>

<button [routerLink]="['/cart']" class="button, fancy-button">
    <i class="material-icons">shopping_cart</i>
    Checkout
</button>

<button [routerLink]="['/exchange']" class="button, fancy-button">
    Exchange
</button>

<button class="button fancy-button" (click)="menu.showMenu()">Menu</button>
<app-menu #menu></app-menu>
